# Baseline config file

# We are defining parameters for the following classes:
# S, M, L, XL, XXL
# The sizes below refer to the number of vertices (depot included)

small_size=200
medium_size=400
large_size=1001
xlarge_size=11001
# XXL_size=99999999 everything that is larger than XL_size

small_phase1_fract=1
small_phase1_rounds=3
small_phase1_filo_time=0.8
small_phase1_filo_runs=4
small_phase1_sa_init_factor=0.1
small_phase1_sa_final_factor=0.001

small_phase2_rounds=0
small_phase2_filo_time=0
small_phase2_filo_runs=0
small_phase2_sa_init_factor=0
small_phase2_sa_final_factor=0

small_cache=100

medium_phase1_fract=1
medium_phase1_rounds=6
medium_phase1_filo_time=0.8
medium_phase1_filo_runs=4
medium_phase1_sa_init_factor=0.1
medium_phase1_sa_final_factor=0.001

medium_phase2_rounds=0
medium_phase2_filo_time=0
medium_phase2_filo_runs=0
medium_phase2_sa_init_factor=0
medium_phase2_sa_final_factor=0

medium_cache=100

large_phase1_fract=0.25
large_phase1_rounds=3
large_phase1_filo_time=0.60
large_phase1_filo_runs=3
large_phase1_sa_init_factor=0.1
large_phase1_sa_final_factor=0.001

large_phase2_rounds=5
large_phase2_filo_time=0.78
large_phase2_filo_runs=1
large_phase2_sa_init_factor=0.01
large_phase2_sa_final_factor=0.0001

xlarge_phase1_fract=0.12
xlarge_phase1_rounds=1
xlarge_phase1_filo_time=0.72
xlarge_phase1_filo_runs=1
xlarge_phase1_sa_init_factor=0.1
xlarge_phase1_sa_final_factor=0.001

xlarge_phase2_rounds=4
xlarge_phase2_filo_time=0.85
xlarge_phase2_filo_runs=4
xlarge_phase2_sa_init_factor=0.01
xlarge_phase2_sa_final_factor=0.0001

xxlarge_phase1_fract=0.17
xxlarge_phase1_rounds=1
xxlarge_phase1_filo_time=0.80
xxlarge_phase1_filo_runs=1
xxlarge_phase1_sa_init_factor=0.1
xxlarge_phase1_sa_final_factor=0.001

xxlarge_phase2_rounds=2
xxlarge_phase2_filo_time=0.92
xxlarge_phase2_filo_runs=2
xxlarge_phase2_sa_init_factor=0.01
xxlarge_phase2_sa_final_factor=0.0001

# Note that f4d creates having the same name of the config in the path below
# filo_outpath_prefix=./solfiles/
filo_outpath_prefix=/data/git/solfiles/